{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - Fashion CRM{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3">{{ title }}</h1>
    <a href="{% url 'product-list' %}" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Orqaga
    </a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mahsulot ma'lumotlari</h6>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-md-6">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.category|as_crispy_field }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    {{ form.price|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.stock|as_crispy_field }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    {{ form.description|as_crispy_field }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    {{ form.image|as_crispy_field }}
                    {% if product and product.image %}
                    <div class="mb-3">
                        <p>Joriy rasm:</p>
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail" style="max-height: 200px;">
                    </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Saqlash
                </button>
                <a href="{% url 'product-list' %}" class="btn btn-secondary">
                    <i class="fas fa-times"></i> Bekor qilish
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}